@media print { 
	.main.container{
		margin: 0;
		width: 100%
	}
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #000 !important;
    }	
	table{
		font-size: 10pt!important;
		font-weight: normal!important;
		color: black!important;
        border-collapse: collapse!important;
	}
	table th{
		vertical-align: middle!important;
		text-align: center!important;
		padding: 0px!important;
	}
	table tbody td{
		padding: 6px!important;
     }
	.alert {
		display: none;
	}
     .patients-table .po-short-title{
		display: table-cell;
	}
	.patients-table .po-long-title{
		display: none;
	}
}