body {
    /*background-image: url(/img/putlist_3-1-5.png);*/
    /*background-size: 210mm 297mm;*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: 10mm;*/
    /*background-position-y: 10mm;*/
}

body div {
    position: absolute;
    font-size: 18px;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

body div.put_number span {
    color: gray;
    font-size: 22px;
    font-weight: bold;
}

* {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
}