
.selected-date-div {
    padding-top: 8px;
}

@media screen {
    .main.container {
        margin: 50px;
        width: 95%
    }

    table.orit-table {
        font-size: 10pt;
        font-family: "Tahoma";
        color: black !important;
    }

    table.orit-table th {
        vertical-align: middle !important;
        text-align: center !important;
        padding: 2px !important;
    }

    table.orit-table tbody td {
        padding: 2px !important;
    }
}

.big-glyph {
    font-size: 54px;
}

.gray-glyph {
    color: gray;
}

.controls {
    display: inline;
}


.form-group {
    margin-bottom: 8px;
}

#patientsList {
    display: none;
}

.unwork {
    color: #cc9a9a;
}

table tbody tr[data-patient-id], table tbody tr[data-doctor-id], table tbody tr[data-po-id] {
    cursor: pointer;
}


.stat-date {
    display: none;
}

.form-horizontal .control-label {
    text-align: left;
    padding-top: 0px;
}

table.hours tr td {
    text-align: center;
}

table.hours tr:not(:first-child) td:first-child {
    width: 30%;
    height: 27px;
    font-size: 4pt;
    font-style: italic;
    font-family: Times New Roman
}

table.hours tr:first-child td:first-child {
    width: 40%;
    font-size: 2pt;
    font-weight: bold;
}

.first-page-last-lines {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-bottom-style: solid;
}

div.page {
    page-break-after: always;
    page-break-inside: avoid;
}

.duty-print {
    display: none;
}

.navbar {
    margin-bottom: -1px;
    border-radius: 0;
}

#submenu {
    background-color: #e7e7e7;
    margin-bottom: 20px;
    display: none;
}

[data-auto-id], [data-driver-id] {
    cursor: pointer;
}

.alert-over-modal {
    z-index: 99999;
    width: 100%;
    position: absolute;
}

.patient-info .font-fit {

    font-size: 48px;
    font-weight: 900;
}

.patient-info .patient-fio {
    margin: 40px 0;
}

.patient-info .departament {
    margin-top: 5mm;
    font-size: 36px;
    font-weight: bolder;
    font-style: italic;
}

.patients-table .po-short-title {
    display: none;
}

.patients-table .po-long-title {
    display: table-cell;
}

.select-driver, .select-auto {
    margin: 10px;
}

.center-block-form div:nth-child(2) {
    margin-left: 30px;
    float: right;
}

.center-block-form div:nth-child(3) {
    float: right;
}

* {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /*Firefox*/
}

.putlist-print{
    width: 100%;
}